[RTI]

# Keck Deployment Parameters
#rti_url = https://www2.keck.hawaii.edu/koa/koa_team/rti_status.php
rti_url = https://www3.keck.hawaii.edu/api/rti
rti_attempts = 3 # How many times should the pipeline retry connecting to RTI
rti_retry_time = 5 # How many seconds to wait before trying connection again
# Credentials for rti url access. Needs to be filled in on deployment
rti_user = ''
rti_pass = ''
# RTI API parameters
# rti_ingesttype = 'lev2'
rti_reingest = False
rti_testonly = False
rti_dev = False
